@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Oswald:wght@200..700&family=Playwrite+AU+VIC+Guides&family=Playwrite+TZ+Guides&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Yuji+Mai&display=swap");

/* CSS Modules */
.heroContent {
  width: 45.929vw;
  height: 443px;
  background-color: #FFF3E3;
}

.arrival {
  font-family: 'Poppins', sans-serif;
  font-size: 1.143vw;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 3px;
  text-align: left;
  text-decoration-skip-ink: none;
}

.discover {
  font-family: 'Poppins', sans-serif;
  font-size: 3.714vw;
  font-weight: 700;
  line-height: 65px;
  text-align: left;
  color: #b88e2f;
}

.discoverP {
  font-family: 'Poppins', sans-serif;
  font-size: 1.286vw;
  font-weight: 500;
  line-height: 24px;
  text-align: left;
  width: 80%;
}

.btn {
  width: 222px;
  height: 74px;
  background: #b88e2f;
  font-family: 'Poppins', sans-serif;
  font-size: 1.143vw;
  font-weight: 700;
  line-height: 24px;
  text-align: center;
  color: #ffffff;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn:hover {
  background: #a17b2d;
}

/* Responsiveness */
@media only screen and (max-width: 450px) {
  .arrival {
    font-size: 20px;
  }

  .heroContent {
    width: 70%;
    height: 500px;
    margin: 0 auto;
  }

  .discover {
    font-size: 25px;
    line-height: 35px;
  }

  .discoverP {
    font-size: 16px;
    line-height: 30px;
  }

  .btn {
    width: 150px;
    font-size: 10px;
    height: 30px;
  }
}

@media only screen and (min-width: 451px) and (max-width: 600px) {
  .arrival {
    font-size: 20px;
  }

  .heroContent {
    width: 80%;
    height: 543px;
    margin: 0 auto;
  }

  .discover {
    font-size: 28px;
    line-height: 30px;
  }

  .discoverP {
    font-size: 20px;
  }

  .btn {
    font-size: 14px;
  }
}

@media only screen and (min-width: 601px) and (max-width: 800px) {
  .arrival {
    font-size: 20px;
  }

  .heroContent {
    width: 80%;
    height: 543px;
    margin: 0 auto;
  }

  .discover {
    font-size: 28px;
    line-height: 40px;
  }

  .discoverP {
    font-size: 20px;
  }

  .btn {
    font-size: 14px;
  }
}

@media only screen and (min-width: 1401px) and (max-width: 2000px) {
  .btn {
    width: 300px;
    text-align: center;
  }

  .heroContent {
    height: 543px;
    margin: 0 auto;
    gap: 20px;
  }

  .discover {
    line-height: 85px;
  }

  .discoverP {
    line-height: 45px;
  }
}


@media only screen and (min-width: 1401px) and (max-width: 2000px) {
  .Image{
      height: 800px;
  }
}